<p>1P 2022</p>
<p>AUTOS NUEVOS</p>
<p>TOTAL BS: {{totalNuevoBS}}</p>
<p>TOTAL $: {{totalNuevo$}}</p>


<div class="container_items" >
  <div *ngFor="let i of nuevos">
    <app-autos [type]="i.type" [color]="i.color" [capacity]="i.capacity" [create_date]="i.createDate" [price]="i.price" [money_type]="i.moneyType" [category]="i.category" [timeType]="i.timeType">

    </app-autos>
  </div>

</div>

<p>AUTOS USADOS</p>
<p>TOTAL BS: {{totalUsadoBS}}</p>
<p>TOTAL $: {{totalUsado$}}</p>
<div class="container_items" >
  <div *ngFor="let i of usados">
    <app-autos [type]="i.type" [color]="i.color" [capacity]="i.capacity" [create_date]="i.createDate" [price]="i.price" [money_type]="i.moneyType" [category]="i.category" (money)="getEvent($event)">

    </app-autos>
  </div>

</div>
