<p>
  ANGULAR
</p>
<button (click)="enablePerson= !enablePerson">Crear/destruir</button>
<app-person *ngIf="enablePerson">
  <button>Print</button>
</app-person>

<app-person [hidden]="enablePerson">
  <button>Cancel</button>
</app-person>

<p *ngIf="enablePerson; else testElse"> enablePerson es true</p>

<ng-template #testElse>
  <p>enablePerson es false</p>
</ng-template>

<div *ngFor="let item of ['a', 'b', 'c', 'd', 'e']; let i = index;">
  <app-person [name]="item">
    <p>Hola - {{item}} - index {{i}}</p>
    <button>hola {{item}}</button>
  </app-person>
</div>

<input type="number" [(ngModel)]="level" >

<div [ngSwitch]="level">
  <p *ngSwitchCase="1">nivel es 1</p>
  <p *ngSwitchCase="2">nivel es 2</p>
  <p *ngSwitchCase="3">nivel es 3</p>
  <p *ngSwitchDefault>opcion por defecto</p>
</div>

