<p>1P 2022</p>
<p>AUTOS NUEVOS</p>
<p>TOTAL BS: {{totalNuevo['BS']}}</p>
<p>TOTAL $: {{totalNuevo['USD']}}</p>


<div class="container_items" >
  <div *ngFor="let i of nuevos">
    <app-autos
      [id] = "i.id"
      [type]="i.type"
      [color]="i.color"
      [capacity]="i.capacity"
      [create_date]="i.createDate"
      [price]="i.price"
      [money_type]="i.moneyType"
      [category]="i.category"
      [timeType]="i.timeType"
      [colorBackground]="i.currentColor"
      [isButtonEnabled]="i.status === 'enable'"
      (money)="getEvent($event)">

    </app-autos>
  </div>

</div>

<p>AUTOS USADOS</p>
<p>TOTAL BS: {{totalUsado['BS']}}</p>
<p>TOTAL $: {{totalUsado['USD']}}</p>
<div class="container_items" >
  <div *ngFor="let i of usados">
    <app-autos
      [id] = "i.id"
      [type]="i.type"
      [color]="i.color"
      [capacity]="i.capacity"
      [create_date]="i.createDate"
      [price]="i.price"
      [money_type]="i.moneyType"
      [category]="i.category"
      [timeType]="i.timeType"
      [colorBackground]="i.currentColor"
      [isButtonEnabled]="i.status === 'enable'"
      (money)="getEvent($event)"
    >

    </app-autos>
  </div>

</div>
